

<div class="col">
  <p>bienvenido: <%= current_user.email %> </p>
  <div class="row">
    <% @intento.each do |tarea| %>
    <div class="col">
      <div class="card">
        <%= image_tag tarea.photo, class:'card-img-top' %>
        <div class="body">
          <h3> <%= tarea.nombre %> </h3>
          <p> <%= tarea.descripcion %> </p>
          <p> <%= tarea.hecho == false ? 'Incompleto' : 'Completo' %> </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
