<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <div class="card">
      <%= image_tag @tarea.photo %>
      <div class="body">
        <p><strong>Actividad:</strong> <%= @tarea.nombre %></p>
        <p><strong>Descripción:</strong> <%= @tarea.descripcion %></p>
      </div>
    </div>
  </div>
</div>

<hr>

<h3>Usuarios que completaron actividad:</h3>

<table class="table">
  <th>Actividad</th>
  <th>Usuarios</th>
  <%  @users_completed.each do |i| %>
  <tr>
    <td> <%= i.nombre %> </p> </td>
    <td> <%= i.email %> </p> </td>
  </tr>
  <% end %>
</table>

<h3>Ranking:</h3>

<table class="table">
  <th>Lugar</th>
  <th>Hora Termino de Actividad</th>
  <th>Usuarios</th>
  <%  @ranking.each.with_index(1) do |val, i| %>
  <tr>
    <td> <%= i %></td>
    <td> <%= time_ago_in_words(val.created_at) %> </p> </td>
    <td> <%= val.email %> </p> </td>
  </tr>
  <% end %>
</table>

<%= link_to 'Back', tareas_path %>
